---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
    background-color: #0587b2;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("light-toast.png");
}

.index{
    text-align: center;
    color: white;
}

.index .container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    padding-top: 80px;
}
.post-body {
    padding-bottom: 20px;
}

.page-content .wrapper {
    padding-top: 20px;
    background: #fff;
    color: #40454a;
}

.site-footer {
    border: none;
}

h1 {
    font-family: 'Volkhov', sans-serif; 
}

h2 {
    font-family: 'Volkhov', sans-serif;  
}

h3 {
    font-family: 'Volkhov', sans-serif;  
}


.breadcrumb {
    color: #949799;
}
.breadcrumb a {
    color: #949799;
}
.secondary {
    color: #949799;
}
.index a {
    color: #d1d1d1;
    text-decoration: none;
    border-bottom: 1px dotted;
}

.index a:hover {
    border-color: #fff;
}

.amazon:hover {
    color: #ff9900;
    border-color: #000;
}

.angellist:hover {
    color: #000;
    border-color: #fff;
}

.carleton:hover {
    color: #f3b61d;
    border-color: #003f79;
}