<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="assets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:700" rel="stylesheet">
    <title>Jack Lightbody</title>
</head>
<body class="index">
    <div class="container">
        <div class="main">
            <h1 class="intro">Jack Lightbody</h1>
            <p>
            Software Engineer <a href="https://angellist.com" class="angellist">@AngelList</a>.
            Formerly <a href="https://amazon.com" class="amazon">@Amazon</a>, <a href="https://www.carleton.edu" class="carleton">@Carleton College CS</a>.</p>
            <p>Check out my <a href="https://github.com/jacklightbody">projects</a>, read my <a href="blog">thoughts</a>, or <a href='mai&#108;to&#58;%6Aack&#46;lightbo%&#54;4y&#64;g&#109;a&#105;l%&#50;&#69;c&#111;&#109;'>get in touch</a>.</p>
    </div>
</body>
</html>
